nav {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
nav button{
    background-color: white;
    font-weight: bold;
    padding: .75rem;
}
nav p i{
    margin-right: .5rem;
}
nav p {
    /* background-color: gray; */
    color: white;
    font-size: .95rem;
    margin: 0 1rem 0 0;
}

header, #home, #about, #features, footer {
    position: relative;
}

.builder-btn {
    align-items: center;
    background-color: white;
    border: 2px solid black;
    display: flex;
    font-size: 1.5rem;
    height: 38px;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    transition: .2s;
    width: 38px;
    
}
.builder-btn:hover {
    opacity: .5;
    
}
